body{
    background: rgb(205, 196, 171);
}
.box1{
    background: rgb(190, 233, 255);
}
.box2{
    background: rgb(248, 182, 182);
}
.box3{
    background: rgb(217, 255, 171);
}
.box4{
    background: rgb(129, 200, 153);
}
.box5{
    background: skyblue;   
}
.box6{
    background: bisque;
}
.imgs{
    
}

/* .box{
    width: 25%;
    height: 20vh;
} */


/* 
col-xxl - 1400px
col-xl - 1200px
col-lg -992px
col-md - 768px
col-sm - 576px 
col- >576px ==mobile==*/

/* .col-1{
    width: 100%;
    max-width: 8.33%;
}
.col-2{
    width: 100%;
    max-width: 16.67%;
}
.col-3{
    width: 100%;
    max-width: 25%;
}
.col-4{
    width: 100%;
    max-width: 33.33%;
}
.col-5{
    width: 100%;
    max-width: 41.67%;
}
.col-6{
    width: 100%;
    max-width: 50%;
}
.col-7{
    width: 100%;
    max-width: 58.31%;
}
.col-8{
    width: 100%;
    max-width: 66.64%;
}
.col-9{
    width: 100%;
    max-width: 75%;
}
.col-10{
    width: 100%;
    max-width: 83.33%;
}
.col-11{
    width: 100%;
    max-width: 91.67%;
}
.col-12{
    width: 100%;
    max-width: 100%;
} */
 .container{
    margin-top: 3rem;
 }

.box{
    height: auto;
    padding: 10px;
}
.image-wrap{
    display: flex;
    align-items: center;
    margin: auto;
    width: 92vw;
}
.fas.fa-arrow-alt-circle-right, .fas.fa-arrow-alt-circle-left{
    font-size: 30px;
    cursor: pointer;
}



.images{
    /* border: 1px solid black; */
    width: 90vw;
    display: flex;
    overflow-x: scroll;
    
}
.images div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.images div img{
    width: 100%;
}
.images::-webkit-scrollbar{
    display: none;
}