.product-Page{
    padding: 40px 5%;
}
.product-full-img-sec{
    width: auto;
}
.input-details-txt{
    margin-top: 40px;
}
#product-comment-box{
    width: 100%;
    padding: 5px;
}
#product-comment-box:focus{
    outline: none;
}
.product-full-img-reating{
    width: 28vw;
}

.product-images-details-rate #product-rate-details{
    width: 60%;
}



@media screen and (min-width:1025px) and (max-width:1366px) {

}
@media screen and (min-width:768px) and (max-width:1024px) {

}
@media screen and (min-width:540px) and (max-width:767px) {
  .pro-page-product-sec .product-images-details-rate{
    flex-direction: column;
  }
  #main-container{
    width: 80%;
    margin: auto;
  }
  .product-images-details-rate #product-rate-details{
    width: auto;
    margin-top: 30px;
  }
  #product-rate-details .add-card-sec{
    width: 55%;
  }


}
@media screen and (min-width:320px) and (max-width:539px) {
    .pro-page-product-sec{
        margin-top: 0;
    }
    .product-images-details-rate #product-rate-details{
        margin: 20px 0;
        width: auto;
    }
    #main-container{
      width: 100%;
    }
    .chips-img img{
        width: auto;
    }
    #product-rate-details .add-card-sec{
        width: 70%;
    }
    .pro-reating-sec{
        margin-top: 0;
    }
    .product-full-img-reating{
        width: auto !important;
    }
}