
/* ===for icon css=== */
.grspes-icon{
    width: 15px;
    height: 18px;
    margin: 0 10px;
}
.cookies-icon{
    width: 18px;
    height: 18px;
    margin: 0 10px;
}
.foodicon-icon,.fruit-icon{
    width: 18px;
    height: 18px;
    margin: 0 10px;
}
.tuber-icon{
    width: 17px;
    height: 18px;
    margin: 0 10px;
}
.barIcon{
    width: 20px;
    height: 15px;
}



.left-sidebar-pro-category{
    padding-top: 40px !important;
}

/* ===product category=== */
.product-categorys{
    margin-top: 40px;
    padding: 0 5%;
}

/* ===categorys & product=== */
.fas.fa-volleyball-ball{
    margin: 0 10px;
}
.color-box{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #C4D6F9;
    margin-right: 6px;
}
.color-sec{
    display: flex;
}
.cl-box10{
    margin-right: 0;
}
.color-sec.col-sec2{
    margin-top: 10px;
}
.cl-box2{
    background: #FF748B;
}
.cl-box3{
    background: #000000;
}
.cl-box4{
    background: #2BFF4A;
}
.cl-box5{
    background: #FF7C5E;
}
.cl-box6{
    background: #F155FF;
}
.cl-box7{
    background: #FFEF00;
}
.cl-box8{
    background: #C89FFF;
}
.cl-box9{
    background: #7BFFFA;
}
.cl-box10{
    background: #56FFC1;
}
.cl-box11{
    background: #FFDB9F;
}
.cl-box12{
    background: #9F9F9F;
}
.cl-box13{
    background: #6556FF;
}

.slider-container {
    text-align: center;
}
.target-prices{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto 15px;

}
.set-price p{
    color: #4B5966;
}

.priceBox{
    width: 50%;
    text-align: center;
    color: #4B5966;
    border: none;
    background: #e7e5e5;
    padding: 4px 0;
    border-radius: 4px;
}

#rangeSlider {
    width:100%;
}

#sliderValue {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* ===categorys=== */

.categorys{
    padding: 40px 5%;
}


/* ===short-by==== */
.different-type-category .short-by{
    display: flex;
}
.short-by .short-icon{
    width: 80%;
    border: 1px solid #d1d1d1;
    padding: 5px;
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
}
.short-icon .icon-bg{
    background: #5CAF90;
    padding: 2px 6px;
    width: 30px;
    border-radius: 4px;
    height: 30px;
    margin-right: 10px;
}
.short-by .short-by-txt-sec{
    width: 20%;
    border: 1px solid #d1d1d1;
    padding: 5px;
    border-radius: 0 4px 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.short-by-txt-sec .short-by-txt{
    color: #4B5966;
}
.shop-page{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    border: 1px solid #dddd;
    padding: 13% 25px 15px;
    border-radius: 0 0 5px 5px;
}
.shop-page .shop{
    text-decoration: none;
    color: #4B5966;
}

.home-shop .home{
    text-decoration: none;
    color: #4B5966;
}
.home-shop .fa-solid.fa-angle-right{
    color: #5CAF90;
}
.home-shop .active-point{
    color: #5CAF90;
}
.fa-solid.fa-angle-right{
    color: #4B5966;
}

/* ===new arrival=== */
.showing-item-next-btn .showing{
    color: #4B5966;
}

/* ===left-sidebar-new-arrival=== */

.left-sidebar-new-arrival{
    padding: 0 ;
}
.day-of-deal-img-sec .left-sidebar-deal-img-sec{
    width: 32%;
}

.left-sidebar-deal-img-sec .left-sidebar-deal-image{
    height: auto !important;
}
.showing-item-next-btn{
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #EEEEEE;
    padding-top: 10px;
    justify-content: space-between;
}
.buttons-sec{
    display: flex;
}
.buttons-sec button{
    background: #5CAF90;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 7px;
    color: white;
}
@media screen and (min-width:1025px) and (max-width:1366px){
    
    .shop-page{
        padding: 175px 15px 10px;
    }
    .categorys {
        padding: 40px 5%;
    }
    .day-of-deal-img-sec{
        padding: 0;
    }
    .new-arrival-img{
        margin-top: 15px;
    }
    .deal-img-sec .deal-text-sec {
        padding: 7px;
    }
    .deal-text-sec .product-name{
        font-size: 15px;
        font-weight: 500;
    }
    .deal-text-sec .nuts-txt{
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 5px;
    }
    .deal-text-sec .stars{
        align-items: center;
    }
    .rate{
        margin-top: 5px;
    }
    .rate .currect-rate{
        font-size: 14px;
    }
    .rate .dis-rate{
        font-size: 14px;
    }
    .sale p{
        font-size: 11px;
    }
    .deal-up-imge .sale{
        border-radius: 3px;
        top: 6px;
        right: 6px;
    }
    .day-of-deal-img-sec .left-sidebar-deal-img-sec {
        width: 32%;
    }
     

}
@media screen and (min-width:768px) and (max-width:1024px){
    .shop-page{
        padding: 160px 12px 10px;
    }
    .categorys{
        flex-direction: column;
    }
    .day-of-deal-img-sec{
        display: flex;
    }
    /* ===categorys & product === */
    .accordion{
        width: 60%;
        margin: auto;
    }
    .different-type-category{
        width: 100%;
        margin: 30px auto 0;
    }
    .day-of-deal-img-sec .left-sidebar-deal-img-sec {
        width: 32%;
        margin-bottom: 15px;
    }
    .new-arrival-img{
        margin-top: 0;
    }

}
@media screen and (min-width:540px) and (max-width:767px){
    .shop-page{
        padding: 125px 13px 11px;
    }
    .categorys{
        flex-direction: column;
    }


    /* ===categorys & product=== */
    .accordion{
        width: 60%;
        margin: auto;
    }

    .day-of-deal-img-sec{
        display: flex;
        margin-top: 15px;
        margin-right: 0;
        margin-left: 0;
    }
    .different-type-category{
        margin: auto;
        padding-top: 30px;
    }
    .day-of-deal-img-sec .left-sidebar-deal-img-sec{
        width: 32%;
    }
    .different-type-category{
        width: 100%;
    }



    /* ===footer=== */
    .contact-site img{
        height: 20px;
    }


}
@media screen and (min-width:320px) and (max-width:539px){
    .shop-page{
        padding: 62px 10px 6px;
    }
    /* ===categorys & product=== */
    .accordion{
        margin: auto;
        width: 100%;
    }
    /* ===short-by=== */
    .short-by .short-by-txt-sec{
        width: 90px;
    }
    /* ===new Arrival=== */
    .day-of-deal-img-sec .left-sidebar-deal-img-sec{
        width: auto;
    }
    .showing-item-next-btn .showing{
        font-size: 13px;
    }
    .buttons-sec button{
        font-size: 11px;
        margin-right: 4px;
    }

}